body {
  font-family: 'PT Sans', sans-serif;
  background-color: black

}

header {
  height: 200px;
  background-image: url("./images/1907576-tekken_logo1.png");
  background-repeat: no-repeat;
  background-position:center  ;
}

form {
  color: #DC2727;
}

#new-character {
  color: #DC2727;
}

label, input {
  display: block;
}
