* {
  margin: 0;
  padding: 0:
}

body {
  font-family: 'PT Sans', sans-serif;
  background-image: url("./images/body-background.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 200px;
  background-image: url("./images/1907576-tekken_logo1.png");
  background-repeat: no-repeat;
  /* background-attachment: inherit; */
  background-position:left ;
  z-index: 1;
  opacity: 0.4;
}

form {
  color: black;
}

#new-character {
  color: #8B8C8C;
  margin-bottom: 50px;
}

input {
  background-color: black;
  color: #C41B1B;
}

label {
  color: #8B8C8C;
}

select {
  background-color: black;
  color: red;
}

label, input {
  display: block;

}

#form-title {
  color: #8B8C8C;
  margin-bottom: 50px;

  /* padding-bottom: :50px; */
}

#list-title {
  color: #8B8C8C;
  margin: 50px 0px 50px 0px;


}
